body {
  font-family: Open Sans,Arial,Sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.smallertable table caption {
  font-size: 1em;
  margin: .3em 0 .5em;
}

table tr {
  background-color: #e0e7e1;
  border: 1px solid #ffffff;
  padding: .35em;
}

table th, table td {
  padding: .625em;
  text-align: right;
}

table th {
  background-color: #94c43a;
  font-size: 1em;
  color: #ffffff;
  padding: 0.8em;
  letter-spacing: .1em;
}

.smallertable th {
  font-size: 0.8em;
  margin: 0em 0 0em;
  letter-spacing: 0em;
}

.smallertable td {
  font-size: 0.7em;
}

table th, table td:first-child {
    text-align: left;
}​

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  .smallertable caption {
    font-size: 1.0em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

tr:hover {background-color:#94c43a;}